@import url('https://fonts.googleapis.com/css2?family=Jua&family=Meera+Inimai&display=swap');

body {
    font-family: 'Meera Inimai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ccf0cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    font-family: 'Jua', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.logo span {
    font-size: 36px;
    display: flex;
    align-items: center;
}

.logo .plus {
    color: #7DB283;
    margin: 0 5px;
}

.nav-button-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Reduzir o espaço entre os itens do menu */
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.button-denounce {
    background-color: #7DB283;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 50px; /* Aproximar o botão do menu */
}

.hero {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    margin-top: 50px;
}

.hero p {
    font-size: 48px
}

#sobre {
    background-color: #e0ffe0;
    padding: 40px 20px;
    text-align: center;
}

#sobre h2 {
    font-size: 2em;
    margin-top: 0;
}

#sobre p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5em;
}

.three-columns {
    background-color: #e0ffe0;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.three-columns div {
    width: 30%;
}

.recursos-icons {
    display: flex;
    justify-content: space-around;
}

.recursos-icons div {
    text-align: center;
}

footer {
    background-color: #ccf0cc;
    text-align: center;
    padding: 20px;
}
